singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=19.04.1'
trace.overwrite = true

executor {
	queueSize=1000
}

process {
	containerOptions = '-B /gpfs,/scratch'
	executor = 'slurm'
	errorStrategy = 'finish'
	time = '7h'
	memory = '8 GB'
	cpus = 1
	stageInMode = "rellink"
}

//
// set paths for generic files here
//
params {
	email = "christav@umich.edu"
	results = "results"
}
